body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.temperature {
    margin: 10px 0;
}

.room {
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
}

#logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

#logo, h1 {
    margin: 0;
}

#logo a, h1 a {
    color: white;
    text-decoration: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #ff0404;
}

/* Ajoutez ces styles pour le bouton */
.button-container {
    display: inline-block;  /* Utilisez "inline-block" pour que la marge fonctionne */
    margin-right: auto;      /* Pousse le bouton vers la gauche */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.dropdown-container {
    margin: 20px;
    text-align: center;
}

.dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style pour le label (optionnel) */
label {
    margin-right: 10px;
    font-size: 18px;
    color: #333;
}
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}