body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    justify-content: center; /* Espace les éléments horizontalement */
}
.logo-container {
    flex-grow: 1; /* Fait en sorte que le logo et le titre prennent l'espace disponible */
}
.titre{
    color: white; /* Couleur blanche pour le titre */
    text-align: match-parent ; /* Centre le texte du titre */
}

section {
    margin: 20px;
    padding: 20px;
    padding-bottom: 60px; /* Increase bottom padding to make space for x-axis labels and footer */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Make it relative to accommodate absolute positioning */
}

.temperature {
    margin: 10px 0;
}

.room {
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
}
.button-container {
    display: flex; /* Utilise Flexbox pour aligner le bouton */
    align-items: center; /* Centre verticalement le bouton */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logo {
    width: 100px;
    height: 100px;
    margin-right: 100px;
}

#logo,
h1 {
    margin: 0; /* Réinitialise les marges pour le logo et le titre */
}

#logo a,
h1 a {
    color: white; /* Garantit que le texte du lien conserve la couleur blanche */
    text-decoration: none; /* Supprime le soulignement du lien */
}

a {
    color: #000; /* Couleur noire pour les liens non visités */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
}

a:hover {
    color: #5e5d5dd0; /* La couleur reste noire lorsqu'elle est survolée */
    text-decoration: none; 
}
#logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}